<link href="{{ themeUrl('/css/hero.css') }}" rel="stylesheet" />
<div class="logo-container">
  <!-- Using object instead of img in order to have the animation being played on every display,
    which is not the case for regular images due to browser caching. -->
  <object role="presentation" type="image/svg+xml" data="{{ themeUrl('/images/hero/cadenza--logo.svg') }}" width="455" height="240"></object>
</div>
<div class="network">
  <img src="{{ themeUrl('/images/hero/DISY-network-graphic.svg') }}" width="2050" height="2050" alt="Lines Image"/>
</div>
