# Cadenza files
Cadenza-10.2.134-dist-win/
Cadenza-10.2.134-dist-win.zip
cadenza
gpx_cad_repo.zip

# Git files
.git
.gitignore
.gitattributes
.gitmodules

# Documentation
README.md

# Config
fachanwendung/.env
fachanwendung/.vscode

# Docker
Dockerfile
docker-compose.yml
Dockerfile