[submodule "fachanwendung/app/static/geodata/deutschlandGeoJSON"]
	path = fachanwendung/app/static/geodata/deutschlandGeoJSON
	url = https://github.com/isellsoap/deutschlandGeoJSON.git
[submodule "fachanwendung/app/static/js/ol-ext"]
	path = fachanwendung/app/static/js/ol-ext
	url = https://github.com/Viglino/ol-ext.git
