<!-- Base Layer Switcher Control -->
<div id="layer-switcher-control" class="layer-switcher-control">
    <div class="layer-switcher-header" onclick="toggleLayerSwitcher()">
        <span>Base Layers</span>
        <button class="layer-switcher-toggle" type="button" title="Toggle layer switcher">🌍</button>
    </div>
    <div class="layer-switcher-content" id="layer-switcher-content" style="display: none;">
        <div class="layer-switcher-group">
            <h4>High Resolution Imagery</h4>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="google" checked onchange="switchBaseLayer(this.value)">
                <span>Google Satellite</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="maptiler" onchange="switchBaseLayer(this.value)">
                <span>MapTiler Satellite (High Resolution)</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="bing-aerial" onchange="switchBaseLayer(this.value)">
                <span>Bing Aerial</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="bing-aerial-labels" onchange="switchBaseLayer(this.value)">
                <span>Bing Aerial with Labels</span>
            </label>
        </div>
        
        <div class="layer-switcher-group">
            <h4>Historical Imagery (ESRI Wayback)</h4>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2025" onchange="switchBaseLayer(this.value)">
                <span>2025</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2024" onchange="switchBaseLayer(this.value)">
                <span>2024</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2023" onchange="switchBaseLayer(this.value)">
                <span>2023</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2022" onchange="switchBaseLayer(this.value)">
                <span>2022</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2021" onchange="switchBaseLayer(this.value)">
                <span>2021</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2020" onchange="switchBaseLayer(this.value)">
                <span>2020</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2019" onchange="switchBaseLayer(this.value)">
                <span>2019</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2018" onchange="switchBaseLayer(this.value)">
                <span>2018</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2017" onchange="switchBaseLayer(this.value)">
                <span>2017</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2016" onchange="switchBaseLayer(this.value)">
                <span>2016</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2015" onchange="switchBaseLayer(this.value)">
                <span>2015</span>
            </label>
            <label class="layer-switcher-item">
                <input type="radio" name="baseLayer" value="wayback-2014" onchange="switchBaseLayer(this.value)">
                <span>2014</span>
            </label>
        </div>
    </div>
</div>