<!-- Color Dropup Button -->
<div class="dropup">
    <button id="colorbttn" class="menu-button">Color</button>
    <div class="menu-button-content">
        <a href="#" class="color-option">Black</a>
        <a href="#" class="color-option">Blue</a>
        <a href="#" class="color-option">Brown</a>
        <a href="#" class="color-option">Cyan</a>
        <a href="#" class="color-option">Green</a>
        <a href="#" class="color-option">Grey</a>
        <a href="#" class="color-option">Magenta</a>
        <a href="#" class="color-option">Orange</a>
        <a href="#" class="color-option">Pink</a>
        <a href="#" class="color-option">Purple</a>
        <a href="#" class="color-option">Red</a>
        <a href="#" class="color-option">Yellow</a>
        <a href="#" class="color-option">White</a>
        
        
    </div>
</div>