<!-- Color Dropup Button -->
<div class="dropup">
    <button id="colorbttn" class="dropbtn">Color</button>
    <div class="dropup-content">
        <!-- Primary Colors -->
        <a href="#" class="color-option">Red</a>
        <a href="#" class="color-option">Green</a>
        <a href="#" class="color-option">Blue</a>
        <a href="#" class="color-option">Yellow</a>
        <a href="#" class="color-option">Orange</a>
        <a href="#" class="color-option">Purple</a>
        <a href="#" class="color-option">Pink</a>
        <a href="#" class="color-option">Cyan</a>
        <a href="#" class="color-option">Magenta</a>
        <!-- Grayscale Options -->
        <a href="#" class="color-option">Black</a>
        <a href="#" class="color-option">White</a>
        <a href="#" class="color-option">Grey</a>
        <a href="#" class="color-option">Dark Grey</a>
        <a href="#" class="color-option">Light Grey</a>
        <!-- Earth Tones -->
        <a href="#" class="color-option">Brown</a>
        <a href="#" class="color-option">Tan</a>
        <a href="#" class="color-option">Beige</a>
        <a href="#" class="color-option">Khaki</a>
        <!-- Scientific Spectral -->
        <a href="#" class="color-option">Infrared</a>
        <a href="#" class="color-option">Near-Infrared</a>
        <a href="#" class="color-option">Thermal</a>
        <a href="#" class="color-option">Multispectral</a>
        <!-- Vegetation Indices -->
        <a href="#" class="color-option">NDVI Green</a>
        <a href="#" class="color-option">Chlorophyll</a>
        <a href="#" class="color-option">Vegetation Red</a>
        <!-- Water Colors -->
        <a href="#" class="color-option">Deep Blue</a>
        <a href="#" class="color-option">Aqua</a>
        <a href="#" class="color-option">Turquoise</a>
        <a href="#" class="color-option">Navy</a>
    </div>
</div>