<!DOCTYPE html>
<html lang="en">

<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Geopixel implemented into disy Cadenza">
    <meta name="theme-color" content="#ffffff">
    <!-- CSP completely removed to allow ArcGIS Wayback integration -->

    <title>GeoPixel for disy Cadenza</title>

    <!-- Preload critical resources -->
    <link rel="preload" href="../static/css/style.css?v=2025061001" as="style">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/style.css?v=2025061001">
    <link rel="stylesheet" href="../static/js/ol/ol.css">
    
</head>

<body data-cadenza-uri="{{ cadenza_uri }}" data-cadenza-repository-name="{{ config.CADENZA_REPOSITORY_NAME }}"
    data-cadenza-external-link-id="{{ config.CADENZA_EXTERNAL_LINK_ID }}">
    <div id="cadenza-container">
        <!-- Both elements visible initially to allow proper initialization -->

        <div id="OL-map" class="olmap" style="width: 95%; height: 95vh; display: block; position: relative;">
            <!-- Base Layer Switcher Control -->
            {% include 'base_layer_switcher.html' %}
        </div>
        <iframe id="cadenza-iframe" style="height: 95vh; width: 95%; display: block;"></iframe>
        
        <!-- Control buttons positioned right below the map -->
        <div id="button-container">
            <button id="screenMap" disabled>Call GeoPixel</button>
            <!-- Dropup Controls -->
            {% include 'color_dropup.html' %}
            {% include 'object_dropup.html' %}
            {% include 'tiles_dropup.html' %}

            <!-- Radio buttons next to tiles button -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vis" id="olbtn" value="1" checked>
                <label class="form-check-label" for="olbtn">
                    OpenLayers
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="vis" id="cdzbtn" value="2">
                <label class="form-check-label" for="cdzbtn">
                    Cadenza
                </label>
            </div>

            <!-- RunPod Control Button only -->
            <button id="runpod-toggle-btn" class="runpod-btn">RunPod Control</button>
            
            <!-- Layer Statistics Button -->
            <button id="layer-stats-btn" class="stats-btn">Layer Stats</button>
        </div>

        <!-- RunPod Control Panel (positioned below buttons) -->
        {% include 'runpod_control_panel.html' %}

        <!-- Layer Statistics Modal -->
        <div id="layer-stats-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Layer Statistics</h2>
                    <span class="close" id="stats-modal-close">&times;</span>
                </div>
                <div class="modal-body">
                    <div id="layer-stats-content">
                        <!-- Statistics content will be populated here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts loaded at the end for better performance -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <!-- OpenLayers bundled version -->
    <script src="{{ url_for('static', filename='js/ol/dist/ol.js') }}"></script>
 
    <script defer src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>

</body>

</html>