<!-- Tile Count Selection -->
<div class="dropup">
    <button id="tilesbttn" class="menu-button">Tiles: 1</button>
    <div class="menu-button-content">
        <a href="#" class="tiles-option" data-tiles="1">1 tile (1x1)</a>
        <a href="#" class="tiles-option" data-tiles="6">6 tiles (2x3)</a>
        <a href="#" class="tiles-option" data-tiles="12">12 tiles (3x4)</a>
        <a href="#" class="tiles-option" data-tiles="20">20 tiles (4x5)</a>
        <a href="#" class="tiles-option" data-tiles="24">24 tiles (4x6)</a>
        <a href="#" class="tiles-option" data-tiles="30">30 tiles (5x6)</a>
        <a href="#" class="tiles-option" data-tiles="42">42 tiles (6x7)</a>
    </div>
</div>